.header-class {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: #333333;
}
ul { 
  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center; 
}

ul li a {
   display: block;
   padding: 15px 25px;
   color: white;
   text-decoration: none;
   font-size: large;
}

ul li a:hover {
  background-color: #111111;
}
