.header-class {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: #333333;
}
.nav-header { 
  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center; 
}

ul li a {
   display: block;
   padding: 15px 25px;
   color: white;
   text-decoration: none;
   font-size: large;
}

ul li a:hover {
  background-color: #111111;
}


.restaurant-class {

  display: flex;
  flex-wrap: wrap;

}

.top-rated-button {
  margin-top: 10px;
}
.res-card {
  border: 2px solid black;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;

}


.shimmer-ui{
  display: flex;
  flex-wrap: wrap;
  
}

.dummy-card {
  margin-top: 10px;
  margin-right: 10px;
  background-color: gray;
  width: 300px;
  height: 168px;

}

.btn-class
{
  display: flex;
  padding: 5px;
  margin-top: 10px;
  justify-content: space-between;
}

.search-bar {
  padding: 5px;
  
}

.btn-class {
  padding: 5px;

}